@CHARSET "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

#header {
    width: 100%;
    height: 80px;
    background-color: #333333;
    display: flex;
    justify-content: space-between;

}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
}

#header h1 {
    width: 100%;
    padding-top: 17px;
    padding-left: 5%;
    font-size: 24px;
    color: #eeeeee;


}

h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
}

.text-center {
    margin: 200px;
    border: 5px solid green;
    padding: 50px;
    background-color: skyblue;
    text-align: center;
}


#header a {
    color: #eeeeee;
}

h1 a {
    color: #eeeeee;
}

#header ul {
    display: flex;
}
#header ul li {
    margin-left: 15px;
    list-style: none;
    padding-right: 15px;
    padding-top:15px;
}

#header_logo {
    padding-left: 20px;
}

table#money_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#money_list .money_date {
    padding: 10px 2%;
    width: 12%;
}
table#money_list .money_content {
    width: 40%

}
table#money_list .money_deposit {
    width: 12%;
}

table#money_list .money_pay {
    width: 12%;
}

table#money_list .money_sum {
    width: 12%;
}

table#money_list .money_action {
    width: 12%;
}


#user_name {
    color: #cccccc;
    width: 36%;
    padding-top: 2%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

table#user_list th {
    width: 30%;
    padding: 10px 2%;
}

table#user_list td {
    width: 29%;
    padding: 10px 2%;
}

tr.row1 {
        background-color: #f2f2f2;
}
tr.row0 {
        background-color: #ffffff;
}

